body {
    min-width: 800px;
    overflow-x: hidden;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
}

.container {
    display: flexbox;
    width: 80%;
    margin: 0 auto;
}

.certificate {
    background-color: white;
    padding: 40px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.logo{
    width: 15%;
    display: inline-flex;
}

.heading{
    width: 80%;
    display: inline-block;
}

h4, h2{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

h4{
    font-weight: normal;
}

#cert_head{
    text-align: center;
    margin-left: 13%;
    text-transform:capitalize;
    letter-spacing: 20px;
    font-weight: 900;
}
